<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
</div>
<div class="d-flex text-white">
    <div class="p-2 flex-fill bg-primary" routerLink="/allMatch">allMatch</div>
    <div class="p-2 flex-fill bg-success" routerLink="/resultTeam">resultTeam</div>
    <div class="p-2 flex-fill bg-primary" routerLink="/resultTeamGroup">resultTeamGroup</div>
    <div class="p-2 flex-fill bg-success" routerLink="/fifaCodeTeam">fifaCodeTeam</div>
  </div>
<router-outlet></router-outlet>